h1 {
    font-weight : 300;
    font-family : "Roboto", sans-serif;
    text-align: center;
    padding: .5em;
}

table {

    border: 1px solid black;
 
    font-family : "Roboto", sans-serif;
 
     font-weight:300;
 
     width : 50%;
 
     margin-left: auto;
 
     margin-right: auto ;
 
     padding: .5em;
 
     border-bottom-width: 1px;
     
     border-bottom-style: solid;
 
     border-bottom-color:#d3d3d3;

    border-collapse: collapse;

    text-align: left;
 
 }

 th {

    text-align: left;

    font-family : "Roboto", sans-serif;

    height: 2rem;

    color: #1db954 ;

    background-color:#d3d3d3;

    padding: .5em;


}

tr {

    border: 1px solid black;

    font-family : "Roboto", sans-serif;

    font-weight:300;

    padding: .5em;


}


caption,tr {

    border: 1px solid black;

    font-family : "Roboto", sans-serif;

    font-weight:300;

    padding: .5em;
  

}

tr:hover {
    background-color:pink;
}

tr:nth-of-type(even) {
    background-color:#eee;
  }


img {
    width:100px;
    height:100px;
}